.inputContainer{
    margin:10% auto;
    width: 50%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

h1{
    text-align: center;
}

.input_wrapper{
    display: flex;
    align-items: center;
    padding:10px 10px
}

.inputOne{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.inputTwo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.inputTree{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
}

.coef{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.coefOne{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.coefTwo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
